@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, sans-serif;
}

a {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 204, 204);
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
}

h3 {
    text-align: center;
}

header {
    font-family: var(--primary-font);
    color: white;
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
}

img {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

figure {
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    gap: 25px;
}

.gallery figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.517);
    border: 5px solid #fff
}

.menu-button {
    display: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 75px;
}

.menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto;
    color: white;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
    }

    .gallery figure {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.517);
    }

    .gallery img {
        height: 250px;
        width: 250px;
        margin: 0;
        padding: 0;
    }

    .menu-button{
        display: none;
    }
    
}

@media screen and (min-width: 700px) and (max-width: 999px) {
    .gallery {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0;
    }

    .gallery figure {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.517);
    }

    .gallery img {
        height: 250px;
        width: 250px;
        margin: 0;
        padding: 0;
    }
    .menu-button{
        display: none;
    }
}
