* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#byui-idaho {
    margin: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#byui-idaho h4 {
    border-bottom: 1px solid #919191;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.6;
}

.dark {
    background-color: #333;
    color: white;

}

.dark h4 {
    color: #A0D4ED; 
}

h1 {
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

h4 {
    color: #006EB6;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 100%;
    width: 150px;
}

li {
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 5px;
}

.main-content {
    border: 1px solid grey;
    margin: 10px auto 10px;
    max-width: 800px;
    padding: 100px;
}

p {
    padding: 10px;
}

#select {
    text-align: center;
}
